h1 {
height: 120px;
background-size: contain;
background-repeat: no-repeat;
width: 300px;
margin: 0 auto;
background-image: url(https://static.vecteezy.com/system/resources/previews/010/658/195/non_2x/to-do-list-black-ink-lettering-isolated-on-white-background-calligraphy-design-element-for-organizers-planners-schedule-list-template-vector.jpg)
}